[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse CDT
Icon=/icon.xpm
Exec="/eclipse" %f
Comment=Eclipse CDT IDE
Categories=Development;IDE;C++
Terminal=false
StartupWMClass=eclipse
