[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Icon=/icon.xpm
Exec="/eclipse" %f
Comment=Eclipse IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=eclipse
